@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

body {
    font-family: 'Raleway', sans-serif;
    color: #585858;
    background-color: #c34d59;
}

#logo {
    background-color: #556270;
    color: #ECF0F1;
    /*margin-bottom: 20px;*/
    padding: 20px
}

#logo a {
    text-decoration: none;
    color: inherit;
}

#logo h1 {
    font-size: 5em;
    font-weight: 700;
    margin: 0;
}

#logo h3 {
    font-size: 0.8em;
    text-align: center;
    margin: 0;
}

h1, h2, h3, h4 {
    text-align: center;
}

#stepOne, #stepTwo, #stepThree {
    padding-top: 70px;
    padding-bottom: 70px;
}

#stepOne h1, #stepTwo h1, #stepThree h1 {
    margin-bottom: 40px;
    margin-top: 0;
}

#stepOne {
    background-color: #4ECDC4;
}

#stepTwo {
    background-color: #C7F464;
}

#stepThree {
    background-color: #FF6B6B;
}

#footer {
    padding: 20px;
    color: #fff;
    text-align: center;
}

#footer a {
    text-decoration: none;
    color: #C7F464;
}

#checkController .btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

#results img {
    margin-bottom: 100px;
}

#treatmentList {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#headerList p {
    text-align: center;
}

.btn-default, .non-btn, input[type="file"] {
    color: #585858;
}

input[type="text"] {
    padding: 8px;
    /*background-color: #ECF0F1;*/
    /*border:none;*/
}

#dataExplainHelp {
    display: none;
}

.non-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.non-btn .close {
    margin-left: 8px;
}

.float-left {
    float: left;
    margin-right: 8px;
}

input{
    text-align:center;
}

.auto-width {
    width: auto;
}