/*just the one font!*/
@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

body {
    font-family: 'Raleway', sans-serif;
    color: #585858;
    background-color: #c34d59;
}

#logo {
    background-color: #556270;
    color: #ECF0F1;
    padding: 20px
}

#logo a {
    text-decoration: none;
    color: inherit;
}

#logo h1 {
    font-size: 5em;
    font-weight: 700;
    margin: 0;
    text-align: center;
}

#logo h3 {
    font-size: 0.8em;
    text-align: center;
    margin: 0;
}

#logo p {
    text-align: left;
}

#logo img {
    width: 64px;
    height: 64px;
}

.img-responsive {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

h1, h2, h3, h4 {
    /*text-align: center;*/
}

#stepOne, #stepTwo, #stepThree {
    padding-top: 20px;
    padding-bottom: 20px;
}

#stepOne h1, #stepTwo h1, #stepThree h1 {
    margin-bottom: 20px;
    margin-top: 0;
}

#stepOne {
    background-color: #4ECDC4;
}

#stepTwo {
    background-color: #C7F464;
}

#stepThree {
    background-color: #FF6B6B;
}

#footer {
    padding: 20px;
    color: #ECF0F1;
    text-align: center;
}

#footer a {
    text-decoration: none;
    color: #ECF0F1;
}

#checkController .btn {
    margin-top: 8px;
    margin-bottom: 8px;
    display: block;
}

#results {
    padding-top: 30px;
}

#treatmentList {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#headerList p {
    text-align: center;
}

.btn-default, .non-btn, input[type="file"] {
    color: #585858;
}

input[type="text"] {
    padding: 8px;
}

#dataExplainHelp {
    display: none;
}

.non-btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 4px;
    color: #333;
    background: #ECF0F1 none;
    border: 1px solid #ccc;
}

.non-btn .close {
    margin-left: 8px;
}

.float-left {
    float: left;
    margin-right: 8px;
}

input {
    text-align: center;
}

.auto-width {
    width: auto;
}

#upload-spinner {
    display: none;
}

#results {
    display: none;
}

#results h2 {
    text-align: center;
    color: #ECF0F1;
}

#music {
    display: none;
}

.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.spinner {
    margin: 100px auto;
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 50px;
}

.spinner > div {
    background-color: #ECF0F1;
    height: 100%;
    width: 20px;
    display: inline-block;

    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.centerText {
    text-align: center;
}

.mb {
    margin-bottom: 40px;
}

.treatmentTitle {
    font-size: 36px;
    color: #556270;
    font-weight: bold;
}

.cyText {
    max-width: 480px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #C7F464;
    cursor: pointer;
    text-align: center;
}

.cy {
    height: 480px;
    /*padding here breaks cytoscape*/
    padding: 0;
    border: 1px solid #BDC3C7;
}

.cyWrapper {
    background-color: #ECF0F1;
    padding: 8px;
}

.cyWrapper select, .cyWrapper button, .cyWrapper input, .cyWrapper p {
    /*display: inline;*/
    margin-bottom: 0;
}

.cyWrapper h3 {
    text-align: center;
}

.blockme {
    display: block;
}

hr {
    border-color: #556270;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}