<div ng-app="rotool" ng-controller="checkController" id="checkController">

    <div id="stepOne">

        <div class="container">

            <h1>1. Upload your CSV file</h1>

            <input type="file" file-input="files" class="center-block form-control auto-width">
            <button ng-click="upload()" class="btn btn-default center-block">Upload</button>

            <div id="upload-spinner" class="spinner">
                <h2>Processing...</h2>
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>

        </div>
    </div>

    <div id="stepTwo">
        <div class="container">
            <h1>2. Treatments</h1>

            <form ng-submit="addTreatment(header)">
                <input type="text" ng-model="header" class="center-block form-control auto-width" placeholder="treatment name">
                <button class="btn btn-default center-block">add treatment</button>
            </form>

            <div ng-repeat="treatment in treatments">
                <div class="non-btn float-left">
                    <button type="button" ng-click="removeTreatment(treatment)" class="close">
                        <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    {{treatment}}
                </div>
            </div>
        </div>
    </div>

    <div id="stepThree">
        <div class="container">
            <h1>3. Explain the data</h1>

            <div class="row" id="dataExplainHelp">
                <div class="col-xs-2">
                    <h3>Column name</h3>
                </div>
                <div class="col-xs-2">
                    <h3>Treatments</h3>
                </div>
                <div class="col-xs-2">
                    <h3>Repetition</h3>
                </div>
                <div class="col-xs-6">
                    <div class="col-xs-4">
                        <h3>Days</h3>
                    </div>
                    <div class="col-xs-4">
                        <h3>Hours</h3>
                    </div>
                    <div class="col-xs-4">
                        <h3>Minutes</h3>
                    </div>
                </div>
            </div>

            <div ng-repeat="header in headers" id="headerList">
                <div class="row">
                    <div class="col-xs-2">
                        <h4>{{header.name}}</h4>
                    </div>
                    <div class="col-xs-2">
                        <select class="center-block form-control" ng-model="header.treatment" ng-options="d as d for d in defineOptions" ng-change="checkCompletion()"></select>
                    </div>
                    <div class="col-xs-2">
                        <input class="center-block form-control" ng-model="header.repetition" type="number">
                    </div>
                    <div class="col-xs-6">
                        <div class="col-xs-4">
                            <input class="center-block form-control" ng-model="header.time.days" type="number">
                        </div>
                        <div class="col-xs-4">
                            <input class="center-block form-control" ng-model="header.time.hours" type="number">
                        </div>
                        <div class="col-xs-4">
                            <input class="center-block form-control" ng-model="header.time.minutes" type="number">
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-default center-block disabled" ng-click="getResults()">Submit</button>
            <button class="btn btn-danger center-block" ng-click="devFill()">DEV CHEAT</button>
        </div>
    </div>

    <div id="results">
        <div id="result-spinner" class="spinner">
            <h2>Processing...</h2>
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
        <audio controls id="music">
            <source src="/music/bensound-theelevatorbossanova.mp3" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
    </div>

    <div id="footer">
        <h3>Developed by <a href="http://twitter.com/biodevops">Martin Page</a> of
            <a href="danmaclean.info">Team Maclean.</a></h3>
    </div>


</div>