<div ng-app="rotool" ng-controller="checkController" id="checkController">

    <div id="stepOne">

        <div class="container">

            <h1>Upload your CSV file</h1>

            <input type="file" file-input="files" class="center-block">
            <button ng-click="upload()" class="btn btn-default center-block">Upload</button>

        </div>
    </div>

    <div id="stepTwo">
        <div class="container">
            <h1>Treatments</h1>

            <form ng-submit="addTreatment(header)">
                <input type="text" ng-model="header" class="center-block">
                <button class="btn btn-default center-block">add treatment</button>
            </form>

            <div ng-repeat="treatment in treatments">
                <div class="non-btn float-left">
                    <button type="button" ng-click="removeTreatment(treatment)" class="close">
                        <span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    {{treatment}}
                </div>
            </div>
        </div>
    </div>

    <div id="stepThree">
        <div class="container">

            <h1>Explain the data</h1>

            <div ng-repeat="header in headers" id="headerList">
                <p>{{header.name}} <select ng-model="header.treatment" ng-options="d as d for d in defineOptions" ></select></p>
            </div>

            <button class="btn btn-default center-block" ng-click="getResults()">Submit</button>

        </div>
    </div>

</div>