<p>RoTool</p>
<form action="/" method="post" enctype="multipart/form-data">

    <br>
    val 1: <input type="file" id="fileInput1" name="fileInput1">
    <!--<br>-->
    <!--val 2: <input type="file" id="fileInput2" name="fileInput2">-->
    <!--<br>-->
    <!--val 3: <input type="file" id="fileInput3" name="fileInput3">-->
    <br>
    <input type="submit" value="Submit">
</form>