<h1>HI</h1>

<h2>graph one</h2>
<img src="/graphs/<%= @mill %>1.jpg">
<br>

<h2>graph two</h2>
<img src="/graphs/<%= @mill %>2.jpg">
<br>

<h2>graph three</h2>
<img src="/graphs/<%= @mill %>3.jpg">
<br>

<h2>graph three</h2>
<img src="/graphs/<%= @mill %>4.jpg">
